*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #201e1e;
  padding: 20px;
}
input,button{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
}